#contact-form{
    display: flex;
    flex-direction: column;
    background-color: #6a7b95;
    padding: 20px;
    border-radius: 0 0 35px 35px;
    box-shadow: 0px 15px 10px #1e315a80;
}

input, textarea {
    padding: 15px;
    border-radius: 15px;
    border: none;
    background: #1e315a80;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s;
    margin-bottom: 10px;
    font-family: 'JetBrains Mono', Icons;
    resize: none;
    overflow: hidden;
}
input::placeholder, textarea::placeholder {
    font-family: 'JetBrains Mono', Icons;
    color:#6a7b95;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*input[type=number] {
  -moz-appearance: textfield;
}*/

.submit-button {
    background: #ffffff;
    color: #6a7b95;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'JetBrains Mono', Icons;
}

.submit-button:hover {
    background: #1e315a80;
    color: #ffffff;
}

.flash-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #222;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
    pointer-events: none; /* no bloquea clics */
    font-family: sans-serif;
}

.flash-message.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 968px) {
    .content-panel{
        border-radius: 35px 35px 55px 55px;
    }
}
@media (min-width: 968px) {
    .content-panel{
        border-radius: 35px 35px 55px 35px;
    }
}